
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+SA+Beginner:wght@500&family=Gloria+Hallelujah&family=Kalam&family=Oswald:wght@300&family=Roboto:ital,wght@0,700;1,100;1,900&family=Rubik:wght@400;500;700&family=Satisfy&family=Shadows+Into+Light&family=Tilt+Neon&family=Zeyada&display=swap');

body {
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

code {
  font-family: 'Gloria Hallelujah', cursive;
}


